{% extends "base.html" %}

    {% block content %}
    <h1>This is the home screen, where users can register or login.</h1>
    
  
            <table class="table table-striped" style="max-width: 50%;">
                <thead>
                    <tr>
                        <th scope="col">Ship Name</th>
                    </tr>
                </thead>
                {% for ship in ships %}
                <tr><td> {{ship.ship_name}}</td></tr>
                {% endfor %}
            </table>
   
    
    
{% endblock content %}

